<template name='layout'>
  <div id='header-container' class='header-container'>
    <nav>
      <div class="nav-wrapper cyan">
        &nbsp;&nbsp;
        <a href="#" class="brand-logo">Kulverão</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/products">Produtos</a></li>
          <li><a href="/sales">Vendas</a></li>
          <li><a href="/users">Utilizadores</a></li>
          <li><a href="/overview">Gráfico</a></li>
          <li><a class="logout" href="#">Terminar Sessão</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div id='content-container' class='content-container'>
    {{> yield}}
  </div>
</template>
